{erl_opts, [debug_info]}.

{deps, [
    {thoas, "1.2.1"},
    {htmerl, "0.1.0"},
    {eqwalizer_support,
        {git_subdir, "https://github.com/whatsapp/eqwalizer.git", {branch, "main"},
            "eqwalizer_support"}}
]}.

{project_plugins, [
    rebar3_hex,
    rebar3_ex_doc,
    {erlfmt, "1.3.0"},
    {eqwalizer_rebar3,
        {git_subdir, "https://github.com/whatsapp/eqwalizer.git", {branch, "main"},
            "eqwalizer_rebar3"}}
]}.

{hex, [{doc, ex_doc}]}.

{erlfmt, [write]}.
